@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json
@{
    var httpContext = HttpContextAccessor.HttpContext;
    var useGPLXCookie = httpContext.Request.Cookies["UserGplx"];
    var dataUserGPLXCookie = httpContext.Request.Cookies["DataUserGPLX"];
   
    var dataUser = new DataUser();
    if (dataUserGPLXCookie != null)
    {
       dataUser  = JsonConvert.DeserializeObject<DataUser>(dataUserGPLXCookie);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - DemoGPLX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Noto+Sans+Linear+A&family=Oswald:wght@200;400&family=Roboto:wght@300;500&family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Tải jQuery từ CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Tải DataTables từ CDN -->
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>



</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GPLX_STU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (useGPLXCookie == null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="LyThuyet" asp-action="Hoc">Học lý thuyết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="LyThuyet" asp-action="CauDiemLiet">Câu điểm liệt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="LyThuyet" asp-action="Thi">Thi thử</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="LyThuyet" asp-action="CauHaySai">Câu hay sai</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="LyThuyet" asp-action="Chonhang">Chọn hạng @(dataUser.Hang!=""?dataUser.Hang:"")</a>
                            </li>
                        </ul>
                    }
                    else
                    {

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="CauHoi" asp-action="Hanglaixe">Hạng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="CauHoi" asp-action="Index">Câu hỏi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="CauHoi" asp-action="Chuong">Chương</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-header" asp-area="" asp-controller="CauHoi" asp-action="Logout">Đăng xuất</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top text-muted">
        <div class="">
            &copy; 2023 - <a src="#">Chung dạy lái</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

                    